<template>
  <footer class="bg-black text-beige-100 py-3">
    <div class="layout__container t_allcaps_s opacity-60 flex justify-end gap-5">
      <a href="https://dschutz.bbaw.de/" class="menu__item" role="menuitem">Datenschutz</a>
      <NuxtLink to="/impressum" class="menu__item" role="menuitem">Impressum</NuxtLink>
      <span>&copy; CVMA 2024</span>
    </div>
  </footer>
</template>

<style scoped>

</style>
<script setup lang="ts">
</script>
