<script setup>
let props=defineProps({
   currentpath:String
})
const emit = defineEmits(["regImages", "checkImages"]);

//let finalfile="DRM/Originale/"+props.currentpath.continents+"/"+props.currentpath.countries+"/"+props.currentpath.provincestate+"/"+props.currentpath.cities+"/"+props.currentpath.objects;

const regImages = (path, holder) => {

  console.log("PATH: ", path)
  path=path.split("|")[0]
  console.log("PATH1: ", path)
  path=path.trim();
  console.log("PATH2: ", path)

  useFetch('https://telotawebdev.bbaw.de/cvma/config/fetch.php?arg0=registrate&arg1=' + path +'&arg2=' + holder, {
      method: 'post',
          onResponse (context) {
              console.log("context registriert: ", context.response.status)
              alert("Fehlende Bilder angemeldet!")
            }
        })
  emit("regImages");
};
const responsedata = ref([]);
const checkImages = () => {
  //useFetch('http://localhost:8000/fetch.php?arg0=test', {
  useFetch('https://telotawebdev.bbaw.de/cvma/config/fetch.php?arg0=check', {
      method: 'post',
          onResponse (context) {
              console.log("context: ", context.response.status)
              responsedata.value=JSON.parse(context.response._data);
              console.log("rd1: ", responsedata.value)
              responsedata.value.filter(n => n);
              console.log("rd2: ", responsedata.value)
            }
        })
  emit("checkImages");
};
</script>

<template>
  <div class="absolute h-full w-full top-0 reg-modal">
    <UButton
        label="Abbrechen"
        variant="ghost"
        color="black"
        @click="$emit('close-reg-modal')"
        :ui="{variant: { ghost: 'hover:bg-seagull-700 hover:text-white' }}"
        class="btn btn_primary absolute top-2 right-2"
    />
    <div class="reg-modal__card layout__container_s">
      <h4 class="text-center font-normal reg-modal__title">Ordnersystem auf Vollständigkeit überprüfen!</h4>
      <p class="text-center text-sm">Es wird geprüft, ob Bilder nicht angemeldet wurden oder ob es mehr Metadaten als Bilder gibt.</p>
      <UButton label="Ordner überprüfen"
               :ui="{ rounded: 'rounded-full', variant: { solid: 'text-white hover:bg-seagull-700 bg-seagull-600'}}"
               class="btn btn_primary w-max custom-shadow"
               @click="checkImages"
      >
<!--      ???  <slot/>-->
      </UButton>
      <div v-if="responsedata.length > 0" class="mt-8">
        <div class="text-sm text-center">
          <p class="mb-0 font-normal">Die Überprüfung ist abgeschlossen! <span>{{ responsedata.length }}</span> Ordner sind leer oder unvollständig:</p>
          <p class="italic opacity-50">Um fehlende Bilder anzumelden, bitte Arbeitsstelle Freiburg oder Potsdam auswählen!</p>
        </div>
        <ul class="reg-modal__result-list flex">
          <li v-for="i in responsedata" class="text-sm bg-merlot-50 p-4">
            <div v-if="i!==''" class="reg-modal__list-items">
              {{ i }}
              <div v-if="i.includes('Ordner leer') === false && i.includes('Mehr Metadaten als Bilder!') === false"
                   class="reg-modal__result-buttons"
              >
                <UButton size="2xs"
                         color="black"
                         label="Potsdam"
                         :ui="{color: { black: {solid: 'shadow-none hover:bg-seagull-700'}}}"
                         @click="regImages(i,'Potsdam')"
                />
                <UButton size="2xs"
                         color="black"
                         label="Freiburg"
                         :ui="{color: { black: {solid: 'shadow-none hover:bg-seagull-700'}}}"
                         @click="regImages(i,'Freiburg')"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</template>

<style scoped>
.reg-modal {
  z-index: 200;
  padding: 10rem;
  @apply bg-white;
}

.reg-modal__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

.reg-modal__title {
  font-size: var(--font-size-lg);
  margin-bottom: 1rem;
}

.reg-modal__result-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.reg-modal__list-items {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 2rem;
}

.reg-modal__result-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.reg-modal__button {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
}

.path-view {
font-size: 12px;
background-color: lightgray;
margin-bottom: 15px;
}

.overflow {
  overflow-y:auto;
  height:200px;
}
</style>
