<script setup>
let props=defineProps({
  output: Array,
  selectedobjects: Array,
  currentdata: Array
})

const emit = defineEmits(["writeToMeta","overwriteXMP"]);
let filetochange="";
let pathtochange="";
const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
  "July", "Aug", "Sept", "Oct", "Nov", "Dec"
];

const writeToMeta = () => {
  props.output.forEach(ele => {
  var currentdate = new Date();
  var datetime = currentdate.getDate() + "/"
                + monthNames[(currentdate.getMonth())]  + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes();

  ele.DatumJSON=datetime

    if (props.selectedobjects.flat()
             .includes(String(ele.Identifier)) || props.selectedobjects.flat()
                                                       .includes(ele.Identifier)) {

      if (ele.SourceFile !== undefined) {
        filetochange = ele.SourceFile.split(".")[0] + ".meta";
        pathtochange = ele.Directory;
        useFetch('https://telotawebdev.bbaw.de/cvma/config/fetch.php?arg0=overwrite&arg1=' + filetochange + '&arg2=' + pathtochange, {
          method: 'post',
          body: [ele],
          onResponse(context) {
          }
        });
      }
    }
  });

  emit("writeToMeta");
  alert("Metadaten von " + props.selectedobjects.length + " Bild(ern) überschrieben!")
};

const overwriteXMP = () => {
  let output=[];
  props.currentdata.forEach(ele => {
  var currentdate = new Date();
  var datetime = currentdate.getDate() + "/"
                + monthNames[(currentdate.getMonth())]  + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() ;

  if (props.selectedobjects.flat().includes(String(ele.Identifier)) || props.selectedobjects.flat().includes(ele.Identifier)) {
    ele.DatumXMP=datetime;
    if (ele.SourceFile!=undefined) {
        delete ele.GPSPosition;
        delete ele.Photo;
        delete ele.Photolight;
        delete ele.Photosing;
        delete ele.recid;
        delete ele.IconclassMotiv;
        delete ele.IconclassCategory;

        output.push(ele)
        filetochange = ele.SourceFile.split(".")[0] + ".meta";
        pathtochange = ele.Directory;

        //pathtochange = ele.Directory;
        useFetch('https://telotawebdev.bbaw.de/cvma/config/fetch.php?arg0=overwrite&arg1=' + filetochange + '&arg2=' + pathtochange, {
          method: 'post',
          body: [ele],
          onResponse (context) {
              console.log("context meta: ", context.response.status)
            }
        });
    }}
});

useFetch('https://telotawebdev.bbaw.de/cvma/config/fetch.php?arg0=exif&arg1=' + pathtochange, {
      method: 'post',
      body:output,
          onResponse (context) {
          }
      });
  alert(props.selectedobjects.length+" Bilder überschrieben!")
};
</script>
<template>
  <div class="absolute h-full w-full top-0 bg-black/[0.4] save-modal">
    <div class="save-modal__card">
      <UButton label="Abbrechen"
               variant="ghost"
               color="black"
               @click="$emit('close-save-modal')"
               :ui="{variant: { ghost: 'hover:bg-seagull-700 hover:text-white' }}"
               class="btn btn_primary absolute top-2 right-2"
      />
      <div class="save-modal__button mt-6">
        <p class="font-normal text-center">Möchtest Du Deine Änderungen wirklich speichern?</p>
        <UButton label="Daten speichern"
                 :ui="{ rounded: 'rounded-full', variant: { solid: 'text-white hover:bg-seagull-700 bg-seagull-600'}}"
                 class="btn btn_primary custom-shadow"
                 @click="writeToMeta"
        >
          <slot/>
        </UButton>
      </div>
      <div class="save-modal__button">
        <p class="text-sm text-center">Um Deine Änderungen sichtbar zu machen, aktualisiere die Datentabelle.</p>
        <UButton label="Aktualisieren"
                 variant="ghost"
                 :ui="{rounded: 'rounded-full', variant: { ghost: 'hover:bg-seagull-700 hover:text-white hover:border-seagull-700 bg-white text-seagull-700 border-1 border-gray-100 border-solid' }}"
                 class="btn btn_primary custom-shadow mb-2"
        ></UButton>
        <UButton label="Ohne Aktualisierung fortfahren"
                 variant="ghost"
                 color="black"
                 @click="$emit('close-save-modal')"
                 :ui="{variant: { ghost: 'hover:bg-seagull-700 hover:text-white text-seagull-700' }}"
                 class="btn btn_primary" />
      </div>
      <div class="save-modal__button">
        <p class="text-sm text-center">Sind Deine Daten gespeichert?</p>
        <p class="text-xs text-center">Bevor Du die XMP Daten überschreiben kannst, müssen Deine Änderungen gespeichert werden.</p>
        <UButton label="XMP Überschreiben"
                 variant="ghost"
                 :ui="{variant: { ghost: 'hover:bg-seagull-700 hover:text-white text-seagull-700' }}"
                 class="btn btn_primary"
                 @click="overwriteXMP"
        />
      </div>
      <slot/>
    </div>
  </div>

</template>

<style scoped>
.save-modal {
  z-index: 200;
  backdrop-filter: blur(33px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.save-modal__card {
  max-width: 600px;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-content: center;
  @apply bg-white p-[6rem] rounded-sm relative;
}

.save-modal__button {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
}

</style>
