<script setup>
const props = defineProps({
  conf: Object,
  selectedDetails: Array,
  selectedObjects: Array
});

const emit = defineEmits([
  "download",
  "edit"
]);

const download = (c) => {
  function downloads(content, fileName, contentType) {
    const a = document.createElement("a");
    const file = new Blob([content], {type: contentType});
    a.href = URL.createObjectURL(file);
    a.download = fileName;
    a.click();
  }

  function onDownload(data, file) {
    downloads(data, file, "text/plain");
  }

  if (c === "meta") {
    if (props.selectedObjects.length > 1) {
      onDownload(JSON.stringify(props.selectedDetails), "metadaten_cvma.json")
    } else {
      onDownload(JSON.stringify(props.selectedDetails), "datenMETA_" + props.selectedDetails[0].SourceFile.split(".")[0] + ".json")
    }
  }

  if (c === "xmp") {
    useFetch('https://telotawebdev.bbaw.de/cvma/config/fetch.php?arg0=exportxmp&arg1=' + props.selectedDetails[0].SourceFile, {
      method: 'post',
      onResponse(context) {
        onDownload(context.response._data, "datenXMP_" + props.selectedDetails[0].SourceFile.split(".")[0] + ".json")
      }
    })
  }

  emit("download");
};

const edit = () => {
  emit("edit");
};

const closeModal = () => {
  emit("closeModal");
};
</script>

<template>
  <div v-if="selectedObjects.length === 1" class="singleview">
    <UButton @click="closeModal"
             icon="i-heroicons-x-mark"
             size="sm"
             :ui="{ rounded: 'rounded-full'}"
             variant="soft"
             class="absolute right-[1.3rem] top-[1.3rem] p-0 w-[2rem] h-[2rem] flex justify-center"
    />
    <div class="relative">
      <img
        :src="'https://digilib.bbaw.de/digilib/servlet/Scaler?fn=projects/cvma/' + selectedDetails[0].Directory.replace('Originale', 'Derivate') + '/' + selectedDetails[0].FileName+ '&dw=350'"
        alt="Detailansicht" class="singleview__img h-full w-auto object-contain"
    />
      <UButton size="xs"
               variant="soft"
               title="Original öffnen"
               icon="i-heroicons-arrow-top-right-on-square"
               :to="'https://digilib.bbaw.de/digilib/digilib.html?fn=projects/cvma/' + selectedDetails[0].Directory + '/'+ selectedDetails[0].FileName"
               target="_blank"
               class="research-table__open-image absolute right-3 bottom-3 h-max z-[5]"
      />
    </div>
    <div class="flex flex-wrap gap-2 justify-center">
      <UButton label="Metadaten"
               variant="outline"
               icon="i-heroicons-arrow-down-tray"
               @click="download('meta')"
               class="btn_outline singleview-btn"
      />
      <UButton label="Exiftool-XMP"
               variant="outline"
               icon="i-heroicons-arrow-down-tray"
               @click="download('xmp')"
               class="btn_outline singleview-btn"
      />
      <UButton label="Objekt bearbeiten"
               @click="edit"
               class="singleview-btn_edit singleview-btn"
      />
    </div>
    <div class="border-gray-200 border-solid border singleview__data w-full overflow-y-scroll">
      <div v-for="(input, index) in conf.Keys" class="border-b-gray-200 border-b">
        <UAccordion :items="[{ label: input.Mapping, content: selectedDetails[0][index] }]"
                    :ui="{ item: { base: 'bg-seagull-50', padding: 'p-3' }}"
                    variant="ghost"
                    size="md"
                    color="black"
                    class="singleview__accordion-items"
        />
      </div>
    </div>
  </div>

  <div v-else-if="selectedObjects.length > 1" class="multiview">
    <UButton @click="closeModal"
             icon="i-heroicons-x-mark"
             size="sm"
             :ui="{ rounded: 'rounded-full'}"
             variant="soft"
             class="absolute right-[1.3rem] top-[1.3rem] p-0 w-[2rem] h-[2rem] flex justify-center"
    />

    <div class="t_allcaps_s pt-8">
      <span>{{ selectedObjects.length }}</span>
      <span> Objekte ausgewählt </span>
      <UIcon name="i-heroicons-check-solid" />
    </div>

    <div class="flex flex-wrap gap-2">
      <UButton label="Metadaten downloaden"
               variant="outline"
               icon="i-heroicons-arrow-down-tray"
               @click="download('meta')"
               class="btn_outline"
               :ui="{ rounded: 'rounded-full'}"
      />
      <UButton label="Objekte bearbeiten"
               @click="edit"
               class="singleview__btn-edit"
               :ui="{ rounded: 'rounded-full'}"
      />
    </div>
  </div>
</template>

<style>
.singleview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
}

.singleview__img {
  height: 100%;
  max-height: 40svh;
  min-height: 150px;
}

.multiview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  gap: 1rem;
}

.singleview-btn {
  @apply rounded-full;
}

.singleview__accordion-items > div > div {
  min-height: 2.65rem;
}

@media screen and (max-width: 1200px) {
  .singleview-btn {
    width: 9.8rem;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .singleview-btn_edit {
    display: none;
  }

  .singleview__img {
    height: 100%;
    max-height: 50svh;
  }
}
</style>
