@tailwind base;
@tailwind components;
@tailwind utilities;

/*
├── 1-generic: modern-reset
├── 2-settings
├── 3-skeleton
├── 4-design-tokens
├── 5-elements
├── 6-components
├── 7-tools
├── 8-utilities
├── 9-media queries
├── _shame

Media Queries Breakpoints:
--800px
--1024px
--1200px
--1440px

Following the BEM naming convention
*/

/* ---------------------------------------------------------
   1. Generic
--------------------------------------------------------- */

/* --- Modern Reset --- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: #000;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

*:focus,
*:focus-visible {
  outline: none
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------------------------------------
   2. Settings
--------------------------------------------------------- */
:root {
  --width: 6rem;
  --primary-merlot-500: #7E1E26;
  --primary-merlot-300: #DD959B;
  --accent: #0398D8;
  --font-size: 1.25rem;
  --soft-grey: #f3f2f2;
  --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: clamp(0.89rem, -0.2vw + 0.93rem, 0.75rem);
    --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
    --font-size-md: clamp(1.13rem, 0.31vw + 1.06rem, 1.33rem);
    --font-size-lg: clamp(1.27rem, 0.75vw + 1.1rem, 1.78rem);
    --font-size-xl: clamp(1.42rem, 1.39vw + 1.12rem, 2.37rem);
    --font-size-xxl: clamp(1.6rem, 2.28vw + 1.1rem, 3.16rem);
    --font-size-xxxl: clamp(1.8rem, 3.53vw + 1.03rem, 4.21rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.89rem;
    --font-size-base: 1rem;
    --font-size-md: 1.13rem;
    --font-size-lg: 1.27rem;
    --font-size-xl: 1.42rem;
    --font-size-xxl: 1.6rem;
    --font-size-xxxl: 1.8rem;
  }

  @media screen and (min-width: 1440px) {
    :root {
      --font-size-sm: 0.75rem;
      --font-size-base: 1rem;
      --font-size-md: 1.33rem;
      --font-size-lg: 1.78rem;
      --font-size-xl: 2.37rem;
      --font-size-xxl: 3.16rem;
      --font-size-xxxl: 4.21rem;
    }
  }
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-size);
  color: #000;
}

/* ---------------------------------------------------------
   3. Skeleton
--------------------------------------------------------- */
/* --- Layout --- */
.layout__container {
  width: calc(100% - var(--width));
  margin-left: auto;
  margin-right: auto;
}

.layout__container_s {
  max-width: 56rem;
  width: calc(100% - var(--width));
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------------
4. Design Tokens
 --------------------------------------------------------- */
/* Fonts ----------------------------------- */
/* playfair-display-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/playfair-display-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/playfair-display-v36-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/inter-v13-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/inter-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Typography ----------------------------------- */
/*h1 { font-size: 4.4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }*/

h1 { font-size: var(--font-size-xxxl); }
h2 { font-size: var(--font-size-xl); }
h3 { font-size: var(--font-size-lg); }
h4 { font-size: var(--font-size-lg); }

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 3rem;
  line-height: 1.3;
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.12rem;
}

.t_allcaps {
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.t_allcaps_s {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

p {
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.6;
}

p a {
  border-bottom: 1px solid;
}

p a:hover {
  color: var(--accent);
  border-color: var(--accent);
}
/* ---------------------------------------------------------
5. Elements
 --------------------------------------------------------- */
main {
  /*margin: 8rem auto 15rem;*/
  min-height: 37vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@layer components {
  .btn {
    @apply font-medium;
  }

  button {
    line-height: 1;
    @apply shadow-none rounded-sm;
  }

  button.btn_primary,
  a.btn_primary {
    @apply uppercase tracking-wider h-10 px-4;
  }

  .btn_primary span {
    font-size: 0.84rem;
  }

  .btn_outline {
    @apply ring-0 border-merlot-500 border-solid border-2 bg-transparent;
  }

  input[type="text"]:not(.edit__input input),
  input[type="password"] {
    @apply shadow-none py-2.5 max-h-10 ring-0 border-merlot-500 border-b-2 border-solid focus:border-0;
  }

  input[type=checkbox] {
    @apply rounded-sm border-solid border-gray-600 border cursor-pointer text-seagull-500;
  }

  input[type=checkbox]:checked {
    @apply bg-seagull-500;
  }
}

.btn-selection button {
  max-width: 11.5rem;
  font-size: 0.84rem;
  @apply ring-0 border-merlot-500 border-solid border-2 rounded-sm uppercase tracking-wider text-merlot-500 py-2.5 font-medium max-h-10 cursor-pointer;
}

.btn-selection ul {
  box-shadow: var(--box-shadow);
  @apply rounded-sm ring-0 p-0
}

.btn-selection ul li {
  @apply border-b border-gray-300 rounded-none py-2.5
}

.btn-selection ul li .truncate {
  overflow: unset;
  text-overflow: unset;
  word-break: break-word;
  white-space: break-spaces;
}

/* ---------------------------------------------------------
8. Utilities
 --------------------------------------------------------- */
.custom-shadow {
  box-shadow: var(--box-shadow);
}
/* ---------------------------------------------------------
9. Media Queries
 --------------------------------------------------------- */
@media screen and (max-width: 500px) {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --width: 2.5rem;
  }

  p { font-size: 1rem; }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1rem;
  }

  .btn_primary,
  .btn-selection button {
    @apply text-xs;
  }
}

