<script setup lang="ts">

</script>

<template>
  <div class="front">
    <top class="absolute w-full z-20 front__header">
      <nav-bar>
        <login-btn/>
      </nav-bar>
    </top>
    <slot />
    <bottom />
  </div>
</template>

<style>
.front__header {
  background: linear-gradient(89deg, transparent 64%, #7e1e268f 50%);
}

.front__header .top__logo path,
.front__header #mobile-menu__icon path {
  @apply fill-beige-100;
}

.front__header button.btn_logout {
  @apply hover:bg-merlot-500 hover:border-merlot-500 border-2 border-beige-100 border-solid bg-transparent rounded-full text-beige-100
}

@media screen and (max-width: 800px) {
  .front__header {
    background: var(--primary-merlot-500);
  }
}

</style>
