<script setup lang="ts">
definePageMeta({
  layout: "text",
});

useSeoMeta({
  title: "DRM - Hilfe",
});
</script>
<template>
  <main class="layout__container_s">
    <h1>Hilfe</h1>
    <p>Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie
      bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und
      diese
      durcheinander warf um ein Musterbuch zu erstellen.</p>

    <p>Es hat nicht nur 5 Jahrhunderte überlebt, sondern auch in
      Spruch in die elektronische Schriftbearbeitung geschafft (bemerke, nahezu unverändert). Bekannt wurde es 1960,
      mit
      dem erscheinen von "Letraset", welches Passagen von Lorem Ipsum enhielt, so wie Desktop Software wie "Aldus
      PageMaker" - ebenfalls mit Lorem Ipsum.</p>
  </main>
</template>

<style scoped>

</style>
