<script setup lang="ts">
definePageMeta({
  layout: "text",
});

useSeoMeta({
  title: "Der digitale Ressourcenmanager",
});
</script>
<template>
  <main>
    <section class="layout__container_s">
      <h1>Über das Projekt</h1>
      <p>Das Corpus Vitrearum Medii Aevi Deutschland (CVMA) ist ein interakademisches Forschungsvorhaben mit
        Arbeitsstellen in Freiburg (Akademie der Wissenschaften und der Literatur Mainz) und Potsdam
        (Berlin-Brandenburgische Akademie der Wissenschaften).
      </p>
      <p>Seine Aufgabe ist die Erfassung und Erschließung mittelalterlicher Glasmalereien in Deutschland. Eine Basis für
        die Dokumentations- und Forschungsarbeit sind nach wissenschaftlichen Grundsätzen erstellte fotografische
        Aufnahmen. Diese werden in gedruckten Corpusbänden veröffentlicht sowie mit Metadaten angereichert als
        nachnutzbare Forschungsdaten auf der
        <a href="https://corpusvitrearum.de" target="_blank">Website des CVMA Deutschland</a>
        publiziert.
        Die im Vorhaben verwendete Spezifikation für die Annotation der Digitalisate mit wissenschaftlichen Metadaten
        wurde an die Bedürfnisse des CVMA angepasst und basiert auf
        <a href="https://lod.academy/cvma/ns/xmp/" target="_blank"> XMP</a>.
      </p>
      <p>Mit dem Digitalen Ressourcenmanager (DRM), der in enger Zusammenarbeit zwischen
        <a href="https://www.bbaw.de/bbaw-digital/telota" target="_blank">TELOTA</a>,
        der Digital Humanities-Abteilung der BBAW, sowie der Potsdamer Arbeitsstelle des CVMA entsteht, werden die
        Bilddateien für die Veröffentlichung und Archivierung aufbereitet.
      </p>
    </section>
    <section class="layout__container_s my-10">
      <h4>Beteiligte Institutionen</h4>
      <div class="logo-list">
        <img src="~/assets/img/cvma-logo.png" alt="CVMA Logo" />
        <img src="~/assets/img/akademie-wiss-lit-logo.svg" alt="Akademie der Wissenschaften und der Literatur Mainz" />
        <img src="~/assets/img/bbaw-logo.png" alt="BBAW Logo" />
        <img src="~/assets/img/nfdi4c-logo.svg" alt="NFDI4C Logo" />
      </div>
    </section>
  </main>
</template>

<style scoped>
.logo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
  @apply mt-4;
}

</style>
